<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-slm-wallet-provisioning"
        version="1.0.0">
    
    <name>SLM Wallet Provisioning</name>
    <description>Apple Wallet and Google Wallet provisioning plugin</description>
    <license>MIT</license>
    
    <!-- AGREGAR ESTA SECCIÓN -->
    <preference name="SWIFTVERSION" default="5.0"/>
    
    <js-module src="www/SLMWallet.js" name="SLMWallet">
        <clobbers target="cordova.plugins.slmWallet" />
    </js-module>
    
        <!-- iOS Platform -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SLMWallet">
                <param name="ios-package" value="SLMWalletPlugin"/>
            </feature>
        </config-file>
        
        <!-- Archivo Swift -->
        <source-file src="src/ios/SLMWalletPlugin.swift"/>
        
        <!-- Bridging Header (si usas Objective-C también) -->
        <header-file src="src/ios/SLMWalletPlugin-Bridging-Header.h"/>
        
        <!-- Framework de PassKit -->
        <framework src="PassKit.framework"/>
        
        <!-- Configuración de Swift -->
        <config-file target="*-Info.plist" parent="CFBundleDevelopmentRegion">
            <string>en</string>
        </config-file>
        
        <!-- IMPORTANTE: Versión de Swift -->
        <preference name="SwiftVersion" value="5.0"/>
    </platform>
    
    <!-- Android Platform -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="SLMWallet">
                <param name="android-package" value="com.slm.wallet.SLMWalletPlugin"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/SLMWalletPlugin.java" 
                     target-dir="src/com/slm/wallet"/>
        
        <framework src="com.google.android.gms:play-services-wallet:19.1.0"/>
    </platform>
</plugin>